# Core API
fastapi==0.115.9
uvicorn==0.35.0
python-dotenv==1.1.1
pydantic==2.11.5

# PDF & DOCX handling
PyPDF2
python-docx==1.2.0
docx2txt
pdf2image==1.17.0
opencv-python==4.11.0.86

# LangChain + LLMs
langchain==0.3.25
langchain-core==0.3.69
langchain-community==0.3.24
langchain-groq
langchain-ollama==0.3.3
langchain-openai==0.3.18
langchain-text-splitters==0.3.8
langchain-huggingface==0.2.0

# Embeddings & Vector DB
sentence-transformers==4.1.0
chromadb==0.6.3
faiss-cpu

# ML / NLP dependencies
numpy==1.26.4
pandas==2.3.1
scikit-learn==1.7.1
transformers==4.53.3
torch==2.7.1
accelerate
bitsandbytes
xformers==0.0.29.post3
sentencepiece

# TTS / STT
elevenlabs

# Optional / Utilities
tiktoken
sounddevice
pygame
streamlit
streamlit_option_menu
huggingface_hub>=0.34.0
datasets>=3.4.1,<4.0.0
hf_transfer
werkzeug

# Database / storage
pinecone-client==5.0.1

